:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --medium-dark-blue: hsl(229, 57%, 17%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    background-image: url('../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
main{
    display: grid;
    place-content: center;
    height: 80vh;
}
figure,
img {
    display: block;
}
/************************************
    PANEL
/************************************/
.panel {
    width: 320px;
/*     height: 200px; */
    padding: 5rem 4rem;
    margin: 1rem;
    border-radius: 12px;
    border-top-right-radius: 80px;
    background-color: var(--dark-blue);
}
.panel__icons {
    margin-top: 4rem;
}
.panel__icons a {
    padding: 2rem 1rem 1rem 1.4rem;
    margin-right: 1.5rem;
    background-color: var(--very-dark-blue);
    border-radius: 12px; 
    text-decoration: none;
}
/************************************
    STOTAGE
/************************************/
.storage {
    width: 320px;
    height: 180px;
    padding: 4rem;
    margin: 1rem;
    text-align: center;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 12px;
}
.storage__text {
    font-size: 1.4rem;
}
.storage__bar {
    height: 22px;
    padding: .2rem;
    margin: 2rem 0;
    background-color: var(--medium-dark-blue);
    border-radius: 12px;
}
.storage__inner__bar {
    height: 16px;
    border-radius: 24px;
    position: relative;
}
.storage__inner__bar:after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    right: 0%;
    border-radius: 50%;
    background-color: white;
}
.storage__bar__amounts {
    display: flex;
    justify-content: space-between;
}
.storage__bar__amounts span {
    font-size: 1.2rem;
}
.storage__left {
    width: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    padding: 1.5rem;
    background-color: white;
    color: var(--dark-blue);
    border-radius: 12px;
    transform: translate(25%, 25%);
}
.storage__left span {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--grayish-blue);
}
/************************************
    FOOTER
/************************************/
.footer {
  margin-top: auto;
  padding: 2rem;
  text-align: center;
  color: var(--grayish-blue);
}
.footer__attribution a {
  text-decoration: none;
  color: var(--grayish-blue);
  transition: color .1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus-visible {
  color: var(--pale-blue);
}
/************************************
    MEDIA QUERIES - 768px
/************************************/
@media screen and (min-width: 1024px) {
    body {
        background-image: url('../images/bg-desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        background-color: var(--very-dark-blue);
    }
   .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
   }
   .storage {
        width: 500px;
        margin-bottom: 0;
        text-align: left;
   }
   .storage__left {
        transform: translate(140%, -250%);
        position: relative;
   }
   .storage__left:after {
        content: '';
        position: absolute;
        top: 85%;
        right: 0%;
        width: 0;
        height: 0;
        border-left: 28px solid transparent;
        border-right: 0 solid transparent;
        border-top: 30px solid white;
   }
}